.mountains {
    position: absolute;
    width: 4.7%;
    height: 50px;
    background-color: grey;
}

.lowlands {
    position: absolute;
    width: 20.3%;
    height: 50px;
    margin-left: 4.7%;
    background-color: green;
}

.water {
    position: absolute;
    width: 17%;
    height: 50px;
    margin-left: 25%;
    background-color: blue;
}

.beans {
    position: absolute;
    z-index: 10;
    margin-left: 42%;
    width: 3%;
    height: 50px;
    background-color: red;
}

.enemyWater {
    position: absolute;
    width: 17%;
    height: 50px;
    margin-left: 45%;
    background-color: blue;
}

.enemyLowlands {
    position: absolute;
    width: 20.3%;
    height: 50px;
    margin-left: 62%;
    background-color: green;
}

.enemyMountains {
    position: absolute;
    width: 4.1%;
    height: 50px;
    margin-left: 82.3%;
    background-color: grey;
}

.row1, .row2, .row3, .row4 {
    border: 2px black solid;
}

.board {
    height: 50px;
}




.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#mage, #ogre, #elf {
    position: absolute;
    margin-top: 40px;
    height: 50px;
    width: 50px;
}

#ogre {
    margin-top: 95px;
}

#elf {
    margin-top: 150px;
}

#messages {
    height: 40px;
}

.moe {
    height: 20px;
    width: 20px;
}