.place {
    position: absolute;
    height: 13.2%;
    z-index: -10;
}

#mountains {
    width: 8.9%;
    background-color: grey;
}

#lowlands {
    width: 17.75%;
    margin-left: 8.9%;
    background-color: green;
}

#water {
    width: 15.5%;
    margin-left: 26.65%;
    background-color: blue;
}

#beans {
    background-image: url("../images/beans.jpg");
    background-size: 500% 100%;
    z-index: 10;
    margin-left: 42.2%;
    width: 2%;
    height: 55.9%;
}

#enemyWater {
    width: 15.55%;
    margin-left: 44.2%;
    background-color: blue;
}

#enemyLowlands {
    width: 17.7%;
    margin-left: 59.8%;
    background-color: green;
}

#enemyMountains {
    /* z-index: 30;      */
    width: 8.9%;
    margin-left: 77.5%;
    background-color: grey;
}

.no-gutters {
    border: 2px black solid;
    margin-right: 0;
    margin-left: 0;
}

.moeChoices {
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

/* .locations {
    border: 1px solid black;
} */

#ogre {
    margin-top: 170px;
}

#elf {
    margin-top: 230px;
}

#messages {
    height: 40px;
}

.moe {
    margin-top: 10%;
    height: 38px;
    width: 20px;
}

.emptyBox {
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
    width: 28.42px;
}

.stats {
    height: 20px;
    margin-top: -5px;
    color: white;
}

.underStats {
    color: white;
}

.bottomStats {
    height: 20px;
    color: white;
}

.enemyRow {
    margin-left: 2.35%;
}

.row {
    height: 62px;
}

#messagesRow {
    height: 30px;
}

#scoreRow {
    height: 40px;
}

#heart, #fight {
    height: 10px;
    width: 10px;
}