.place {
    position: absolute;
    height: 20.5%;
    z-index: -10;
}

#mountains {
    width: 9.4%;
    background-color: grey;
}

#lowlands {
    width: 17.2%;
    margin-left: 9.4%;
    background-color: green;
}

#water {
    width: 15.65%;
    margin-left: 26.6%;
    background-color: blue;
}

#beans {
    background-image: url("../images/beans.jpg");
    background-size: 500% 100%;
    z-index: 10;
    margin-left: 42.2%;
    width: 2%;
    height: 84.6%;
    /* background-color: red; */
    
}

#enemyWater {
    width: 15.65%;
    margin-left: 44.2%;
    background-color: blue;
}

#enemyLowlands {
    width: 17.2%;
    margin-left: 59.8%;
    background-color: green;
}

#enemyMountains {
    /* z-index: 30;     */
    width: 9.4%;
    margin-left: 77%;
    background-color: grey;
}

/* .board {
    height: 100px;
} */

.no-gutters {
    border: 2px black solid;
    margin-right: 0;
    margin-left: 0;
}

.moeChoices {
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

#ogre {
    margin-top: 95px;
}

#elf {
    margin-top: 150px;
}

#messages {
    height: 40px;
}

.moe {
    margin-top: 10%;
    height: 38px;
    width: 20px;
}

.emptyBox {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 2px solid black;
    height: 40px;
    width: 20px;
}

.enemyRow {
    margin-left: 2.35%;
}

.row {
    height: 80px;
}