.mountains {
    position: absolute;
    margin-top: 42px;
    width: 4.7%;
    height: 50px;
    margin-left: 6.8%;
    background-color: grey;
}

.lowlands {
    position: absolute;
    margin-top: 42px;
    width: 20.3%;
    height: 50px;
    margin-left: 11.5%;
    background-color: green;
}

.beans {
    background-color: red;
}

.water {
    position: absolute;
    margin-top: 42px;
    width: 17%;
    height: 50px;
    margin-left: 31.8%;
    background-color: blue;
}

.enemyWater {
    position: absolute;
    margin-top: 42px;
    width: 17%;
    height: 50px;
    margin-left: 51.8%;
    background-color: blue;
}

.enemyLowlands {
    position: absolute;
    margin-top: 42px;
    width: 20.3%;
    height: 50px;
    margin-left: 68.8%;
    background-color: green;
}

.enemyMountains {
    position: absolute;
    margin-top: 42px;
    width: 4.7%;
    height: 50px;
    margin-left: 88.5%;
    background-color: grey;
}

.row1 {
    border: 2px black solid;
}

.board {
    height: 50px;
}

.beans {
    position: absolute;
    z-index: 10;
    margin-top: 42px;
    margin-left: 48.8%;
    width: 3%;
    height: 50px;
    background-color: red;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#mage, #ogre, #elf {
    position: absolute;
    margin-top: 40px;
    height: 50px;
    width: 50px;
}

#ogre {
    margin-top: 95px;
}

#elf {
    margin-top: 150px;
}

#messages {
    height: 40px;
}

.moe {
    height: 20px;
    width: 20px;
}